body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #5fb404;
}
.quem-somos{
    background-color: #8181f7;
    color: white;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
.h3-section{
    margin-bottom: 30px;
}
.p-section{
    margin-top: 20px;
}
.parceiros{
    background-color: #5fb404;
}
.yg-footer{
    background-color: grey;
    color: white;
}